a {
    text-decoration: none;
}
span {
    display: inline-block;
}

.memberContainer {
    width: 100%;
    height: 968px;
}        
.header {
    width: 100%;
    height: 88px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}
.headerLogo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    position: absolute;
    width: 151px;
    height: 38px;
    bottom: 20px;
    top: auto;
    left: 24px;
    background: url(https://th.bing.com/th/id/OIP.GcpUB3UxsaArPwX00cYZmQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7) center no-repeat;
}
.headerTitle {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    height: 87.200px;
    padding: 0 190px;
    line-height: 88px;
}
.contents {
    width: 100%;
    height: 800px;
}
.contentWrapper {
    padding: 75px 0 40px 0;
    width: 500px;
    height: 685px;
    margin: 0 auto;
}
.checkboxAll {
    height: 28px;
    line-height: 25px;
    font-size: 10px;
    letter-spacing: -1px;
}
.checkboxAll label {
    float: left;
    min-height: 28px;
    width: 129px;
}
.uCheckbox input[type="checkbox"], .checkboxAll input[type="checkbox"]  {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.text {
    font-weight: bold;  
    font-size: 15px;
    line-height: 25px;
    color: #000;
    font-weight: bold;
    display: inline-block;
    height: 100%;
    position: relative;
    padding-left: 33px;
    cursor: pointer;
    background-color: transparent;
}
.termsBlock {
    margin-top: 10px;
    padding-left: 5px;
    width: 495px;
    height: 141px;
    letter-spacing: 0.5px;
}
.label {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    padding: 10px 0;
    letter-spacing: -1px;
}
.label2 {
    float: left;
    min-height: 23px;
}
.btnLink {
    font-size: 14px;
    line-height: 20px;
    color: #666;
    display: inline-block;
    position: relative;
    padding-right: 20px;
    vertical-align: top;
}
.uCheckbox {
    float: left;
    width: 495px;
    height: 23px;
    margin-top: 15px;
    font-size: 0;
}
.uCheckbox input[type="checkbox"]:checked + .text:after, .checkboxAll input[type="checkbox"]:checked + .text:after{
    border-color: #1769ff; 
    background-color: #1769ff;
    background-position: 0 100%;
}
.uCheckbox .text:after {
    width: 23px;
    height: 23px;
}
.termsItem .uCheckbox:first-child {
    margin-top: 0;
}
.inputWrap {
    position: relative;
    width: 33px;
    height: 2px;
}
.text::after {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(//openimage.interpark.com/member/common/icon/icon_check_new.png) 0 0 no-repeat;
    background-size: 100% auto;
    content: "";
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    background-position: 0 0;
    background-size: 100% auto;
    border-radius: 50%;
    left: 0;
}
.checkboxCont {
    width: 462px;
    height: 20px;
}
.termsBlock + .termsBlock {
    width: 495px;
    height: 103px;
    padding-left: 5px;
    margin-top: 20px;
}
.ubtnArea {
    margin-top: 45px;
    height: 50px;
}
.col {
    height: 50px;
}
.uBtn {
    display: block;
    width: 100%;
    height: 50px;
    padding-bottom: 1px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background: #ccc;
}
.footer {
    width: 100%;
    height: 80px;
}

/*자바스크립트 연동 효과*/
.special {
    opacity: 0.5;
}