.lyWrap {
  z-index: 30000;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background: rgba(0, 0, 0, .75);
  overflow: auto;
}
.lyContent {
  position: relative;
  margin: auto;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .34), 0 10px 10px 0 rgba(0, 0, 0, .06);
  align-self: flex-start;
  width: 380px !important;
}
.modalHeader {
  position: relative;
  padding: 0 30px;
  border-bottom: 1px solid #d9d9d9 !important;
  text-align: center;
  display: block;
}
.modalHeader::before {
  display: table;
  content: ' ';
  text-align: center;
}
.title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
  padding: 12px 0 11px;
}
.modalHeader::after {
  clear: both;
  display: table;
  content: ' ';
  text-align: center;
}
.modalContentWrap {
  padding: 20px;
}
.pText1 {
  font-size: 14px;
  font-weight: 400;
  color: #444;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0;
  margin-top: 13px !important;
}
.-pointColor {
  color: #2ecc71 !important;
  font-weight: 600 !important;
  font-size: 14px;
  overflow-wrap: break-word;
  word-break: break-word;
}
.msgList {
  margin-top: 10px;
  margin: 0;
}
.pText2 {
  font-size: 13px;
  font-weight: 400;
  color: #444;
  overflow-wrap: break-word;
  word-break: break-word;
  margin: 0;
  margin-top: 6px !important;
}
.modalFooter {
  margin: 0 20px;
  padding: 20px 0 25px;
  font-size: 0;
  text-align: center;
  display: block;
}
.btnCancel {
  margin: 0 5px;
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
  line-height: 1;
  position: relative;
  min-width: 90px;
  height: 34px;
  padding: 0 15px;
  border-radius: 1px;
  font-size: 13px;
  font-weight: 500;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
}
.btnLeaveBand {
  margin: 0 5px;
  background: #444a61;
  line-height: 1;
  position: relative;
  min-width: 90px;
  height: 34px;
  padding: 0 15px;
  border-radius: 1px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
}