#content.midContent {
  flex: 0 0 auto;
  width: 540px;
  padding-bottom: 20px;
  display: block;
}
.settingBand {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1.4px 1.3px 0 rgba(62, 73, 89, .07);
}
.headerWrap {
  border-bottom-color: #d9d9d9;
  position: relative;
  padding: 0 22px;
  border-bottom: 1px solid #e7e7e7;
  height: 50px !important;
}
.profile_header {
  height: 50px;
  overflow-wrap: breadk-word;
  word-break: break-word;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1ProfileTitle {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}
.profileSettingCardBox {
  padding: 24px 0;
}
.profileSettingCard {
  position: relative;
  width: 335px;
  height: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 48px 48px;
}
.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  aspect-ratio: 1 / 1;
  border-radius: 40px;
  background-color: #d5d6e1;
}
.imgBox::before {
  mask-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20240603162344/images/spr_svg.svg#normal_person_fill);
  background-color: #f7f8f9;
  content: '';
  position: absolute;
  opacity: .78;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  mask-size: 100% 100%;
}
._existProfileImgBox {
  background-color: rgba(0, 0, 0, .05);
}
.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 0 0;
  filter: brightness(95%);
}
.mainBgColor {
  background-color: rgba(127,130,161, 1);
  position: absolute;
  height: 83px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  border-radius: 0 0 48px 48px;
}
.addPhoto {
  position: absolute;
  top: 21px;
  right: 21px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: .5px solid rgba(255, 255, 255, .1);
  background: rgba(0, 0, 0, .1);
}
.addPhoto::before {
  mask-size: 28px 28px;
  background-color: #fff;
  display: inline-block;
  content: '';
  mask-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20240603162344/images/spr_svg.svg#normal_plus_regular_bold);
  width: 28px;
  height: 28px;
}
._labelProfile {
  overflow: hidden !important;
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.inputFile {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  width: 200% !important;
  height: 100% !important;
  font-size: 100px;
  cursor: pointer;
  opacity: 0;
}
.infocontent {
  position: relative;
  z-index: 10;
  margin-top: auto;
  padding: 0 20px 32px;
}
.profileName {
  overflow: hidden !important;
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.inputName {
  font-size: 21px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  line-height: 48px;
  color: #fff;
  padding: 0 10px;
  border-radius: 8px;
  border: .5px solid rgba(255, 255, 255, .3);
  background: rgba(0, 0, 0, .1);
}
.guideProfile {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  width: 236px;
  color: #fff;
  overflow-wrap: break-word;
  word-break: break-word;
}
.bandListView {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-top: 9px;
}
.settingList {
  padding-top: 7px;
  padding-bottom: 7px;
  padding: 0 22px;
}
.settingItem {
  min-height: auto;
  flex-wrap: wrap;
  padding: 0;
  display: flex;
  position: relative;
  width: 100%; 
  text-align: left;
  align-items: center;
}
.settingItem::before {
  content: '';
  min-height: inherit;
  font-size: 0;
  display: block;
}
.settingItemMyInfo {
  min-height: auto;
  padding-top: 28px;
  display: flex;
  align-items: center;
  width: 100%;
}
.settingItemMyInfo::before {
  content: '';
  min-height: inherit;
  font-size: 0;
  display: block;
  text-align: left;
}
.itemContent {
  flex: 1 1 auto;
  line-height: 1.3;
  overflow: hidden;
}
.label {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.214;
  display: block;
}
.subTxt3 {
  font-size: 11px;
  font-weight: 400;
  color: #57ace1;
  display: block;
  margin-top: 6px;
}
.textareaBox {
  margin: 12px 0 20px;
  width: 100%;
}
.inroductionBox {
  padding: 8px 10px;
  position: relative;
  display: block;
  width: 100%;
  background: #fcfcfc;
}
.introductionBox input {
  position: relative;
  width: 100%;
  height: 100%;
  background: 0 0;
  font-size: 13px;
}
/* .introductionBox .border {
  z-index: 2;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.introductionBox::after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #ebebeb;
  z-index: 1 !important;
  content: '';
} */
.btnFooter {
  padding: 30px 0;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}
.btnCancel {
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
  line-height: 1;
  position: relative;
  min-width: 90px;
  height: 34px;
  padding: 0 15px;
  border-radius: 1px;
  font-size: 13px;
  font-weight: 500;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
}
.btnSave {
  background: #444a61;
  line-height: 1;
  position: relative;
  min-width: 90px;
  height: 34px;
  padding: 0 15px;
  border-radius: 1px;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
}

._descriptionInput {
  border: 1px solid #ebebeb;
  padding-inline: 15px;
}