*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.4;
  background-color: #f5f6f8;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

aside, section {
  display: block;
}

img {
  border-style: none !important;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

li, ol, dl {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .25s ease;
  background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

em {
  font-style: normal;
}

.clear {
  content: "";
  display: block;
  clear: both;
}

[type="submit"], button {
  -webkit-appearance: button;
}

input,
button,
select,
optgroup,
textarea,
fieldset {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

button, select {
  cursor: pointer;
  text-transform: none;
}

fieldset,
button,
p {
  padding: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

img {
  vertical-align: middle;
}

input:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}

input[type="text"]:focus, textarea:focus {
  outline: none;
}

input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

select {
  word-wrap: normal;
}

fieldset {
  border-style: none;
}

input, textarea {
  border-radius: 0;
}

main {
  display: block;
}

input {
  color: #444;;
  border-radius: 0;
}