main {
  display: block;
}
.main_content {
  flex: 0 0 auto;
  width: 540px;
  padding-bottom: 20px;
}
.bandJoinConditionView {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1.4px 1.3px 0 rgba(62, 73, 89, 0.1);
}

.headerWrap {
  position: relative;
  padding: 0 22px;
  border-bottom: 1px solid #e7e7e7;
}
.contentHeader {
  height: 50px;
  overflow-wrap: break-word;
  word-break: break-word;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h1_title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
}
.setting_list {
  padding: 0 22px;
}
.setting_item {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 55px;
  padding: 15px 0;
  border-top: 1px solid #e7e7e7;
  text-align: left;
  align-items: center;
  border-top-width: 0;
}
.setting_item::before {
  content: '';
    min-height: inherit;
    font-size: 0;
    display: block;
}
.itemContent {
  flex: 1 1 auto;
  line-height: 1.3;
  overflow: hidden;
}
.label {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1.214;
  display: block;
}
.subTxt {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  color: #666;
}
.itemSide {
  position: relative;
  flex: 0 0 auto;
  min-width: 92px;
  text-align: right;
  line-height: 1.3;
}
.change_btn {
  border: solid 1px #e7e7e7;
  color: #222;
  background: #f5f6f8;
  min-width: 41px;
  height: 26px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 1;
  position: relative;
  border-radius: 1px;
  font-weight: 500;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
}