* {
    margin: 0;
    padding: 0;
}
div {
    /* border: 1px solid red; */
}
html {
    font-size: 62.5%;
}
body {
    background-color: #f8f8f8;
    height: 100%;
    margin: 0;
}
a {
    text-decoration: none;
    color: #202020;
}
p {
    margin: 0;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
}
.common_header {
    padding: 0 16px;
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.08)
}
.header_inner {
    display: flex;
    height: 88px;
    line-height: 68px;
    max-width: 1280px;
    margin: 0 auto;
}
.inner {
    display: flex;
    align-items: center;
    width: 100%;
}
.header_logo {
    position: relative;
    display: inline-flex;
    width: 151px;
    height: 38px;
    text-decoration: none;
    background: url(https://th.bing.com/th/id/OIP.GcpUB3UxsaArPwX00cYZmQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7) center no-repeat;
}
.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
.my_menu {
    margin-left: auto;
    list-style: none;
    font-size: 15px;
}
.wrap {
    width: 770px;
    margin: 0 auto;
    padding: 50px 0 60px;
    position: relative;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
}
.content_wrap {
    width: 100%;
    display: inline-block;
    background-color: #fff;
}
.my_area {
    padding: 25px 0 25px 20px;
    font-size: 14px
}
.my_area p {
    color: #707070;
    line-height: 20px;
}
.my_menu_area li {
    font-size: 14px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
    margin-bottom: 10px;
    background: url(//openimage.interpark.com/.ui/openId/pc/snb/menu_icon.png) no-repeat 0 0;
}
.my_menu_area li.current {
    background-image: url(//openimage.interpark.com/.ui/openId/pc/snb/menu_icon_on.png);
}
.my_menu_area li.modify {
    background-position: 0 0;
}
.my_menu_area li.password {
    background-position: 0 -50px;
}
.my_menu_area li.sns {
    background-position: 0 -150px;
}
.my_menu_area li.withdrawal {
    background-position: 0 -200px;
}
.left_menu_area {
    float: left;
    width: 169px;
    box-sizing: border-box;
}
.my_menu_area {
    padding: 25px 0 25px 20px;
}
.sub_content_wrap {
    width: 601px;
    padding: 50px;
    border-left: 1px solid #eee;
    box-sizing: border-box;
    background-color: #fff;
    display: inline-block;
}
.main_title {
    height: 40px;
    border-bottom: 2px solid #8c8c8c;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: normal;
    color: #202020;
    margin: 0;
}
.pw_to_box {
    padding: 25px 0;
    text-align: center;
}
.top_title {
    padding-top: 60px;
    background: url(//openimage.interpark.com/.ui/openId/pc/icon_pw.png) no-repeat center 0;
    font-size: 20px;
}
.pw_input_box li{
    padding-bottom: 10px;
}
.i_input {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 15px;
}
.pw_noti {
    margin-top: 5px;
    padding-left: 20px;
    background: url(//openimage.interpark.com/.ui/openId/pc/icon_noti.png) no-repeat 0 2px;
    color: #aaa;
    font-size: 13px;
}
.inter_btn_area {
    margin-top: 25px;
    font-size: 0;
}
.inter_btn_area span:first-child {
    padding-left: 0;
    padding-right: 4px;
}
.inter_btn_area span {
    display: inline-block;
    width: 50%;
    line-height: 10px;
    padding-left: 4px;
    box-sizing: border-box;
}
.btn_white {
    height: 45px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ef324e;
    color: #ef324e;
    font-size: 16px;
}
.btn_red {
    height: 45px;
    width: 100%;
    color: #fff;
    background-color: #ef324e;
    border: 1px solid #ef324e;
    font-size: 16px;
}