ul, li {
    list-style: none;
}
.del_tab_wrap {
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    margin-top: 25px;
    border: 1px solid #ddd;
    background: url(https://th.bing.com/th/id/OIP.GcpUB3UxsaArPwX00cYZmQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-position: 284px -90px;
    font-weight: bold;
    color: rgb(58, 54, 155);
}   
.sns_div {
    font-size: 14px;
}
.mem_topbox {
    padding: 25px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.mem_topbox p {
    font-size: 20px;
    color: #202020;
    line-height: 1.5;
}
.caution {
    display: inline-block;
    margin-top: 12px;
    font-size: 13px;
    color: #707070;
}
.sns_list {
    font-size: 14px;
}
.sns_list li {
    padding: 12px 0 12px 46px;
    line-height: 35px;
    border-bottom: 1px solid #eee;
    background: url(//openimage.interpark.com/.ui/openId/pc/icon_sns.png) no-repeat 0 11px;
    overflow: hidden;
}
.sns_list li.kakao {
    background-position: 0 -64px;
}
.sns_name {
    display: inline-block;
    font-size: 15px;
    color: #202020;
}
.date {
    display: inline-block;
    font-size: 13px;
    color: #707070;
}
.btn_common {
    height: 35px;
    padding: 0 12px;
    line-height: 32px;
    border-radius: 3px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    background-color: #f9f9f9;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: #202020;
    float: right;
    display: inline-block;
}
.btn_common.red {
    border: 1px solid #ef3e4e;
    background-color: #ef3e4e;
    color: #fff;
}