* {
    margin: 0;
}
a{
    text-decoration: none;
    color: grey;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
body {
    font-family: "Notosans", -apple-system, BlinkMacSystemFont, Apple SD Gothic Neo, "Malgun Gothic", Arial, sans-serif;
}
input {
    margin: 0;
}
.banner {
    height: 80px;
    background: url(https://th.bing.com/th/id/OIP.GcpUB3UxsaArPwX00cYZmQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7) center;
    transition: 2s;
}
.banner:hover {
    height: 300px;
}
.wrap {
    width: 100%;
}
.common_header {
    width: 100%;
    height: 184.778px;
}
.content {
    background: #f8f9fa;
    padding-bottom: 160px;
}
.container {
    width: 1120px;
    padding-top: 50px;
    margin: 0 auto;
}
.header_util {
    width: 100%;
    height: 37px;
}
.header_inner {
    width: 1120px;
    height: 88px;
    margin: 0 auto;
}
.header_gnb {
    width: 100%;
    height: 58px;
    position: relative;
}
.quick_menu {
    height: 135px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #242428;
}
.quick_menu .title {
    float: left;
    width: 257px;
    height: 100%;
    text-align: center;
    padding-top: 48px;
    box-sizing: border-box;
    background: #242428;
}
.title_txt {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}
.quick_menu_list {
    float: left;
    margin-top: 20px;
    width: 824px;
    height: 46px;
}
.quick_menu_list li:nth-child(2) {
    border-left: 1px dotted #cfd0d7;
}
.quick_menu_item {
    margin-left: 0;
    float: left;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.quick_menu_item a {
    display: block;
}
.quick_menu_item a:nth-child(2) {
    color: red;
}
.quick_menu_item.info a:before, .quick_menu_item.reserve a:before {
    background-image: url(	https://th.bing.com/th/id/OIP.GcpUB3UxsaArPwX00cYZmQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 80px;
    content: " ";
    display: inline-block;
    left: 40px;
    top: 10px;
    position: absolute;
    border-radius: 7px;
}
.quick_menu_item.reserve a:before {
    background-size: 400px;
    background-position: right -127px;
}
.qmenu_box {
    margin-left: 10px;
    margin-top: 20px;
    padding-left: 70px;
}
.qmenu_tit {
    display: block;
    font-size: 20px;
    line-height: 0.8;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #242428;
}
.qmenu_subtit {
    color: #fa2828;
    font-weight: bold;
    line-height: 2.5;
    font-size: 20px;
}
.qmenu_subtit.state_number {
    font-size: 25px;
    line-height: 2;
}
.help_cont {
    position: relative;
    width: 1120px;
    border: 1px solid #ecedf2;
    border-radius: 2px;
    background: #fff;
}
.help_cont:before {
    content: " ";
    background: #ecedf2;
    position: absolute;
    left: 256px;
    width: 1px;
    top: 0;
    bottom: 0;
}
.help_cont:after {
    clear: both;
    display: block;
    content: '';
}
.helpMenu {
    float: left;
    width: 255px;
    padding-top: 20px;
    background: #fff;
}
.helpMenu li {
    padding: 20px 18px 20px 26px;
    border-bottom: 1px solid #ecedf2;
    position: relative;
    box-sizing: border-box;
    font-weight: bold;
    float: none !important;
}
.help_submenu {
    font-size: 14px;
}
.help_submenu.special li {
    margin: 17px 0;
}
.help_submenu a {
    display: block;
}
.has_sub li {
    margin-top: 8px;
    padding: 0;
    border: none;
}
.has_sub li.on a::after {
width: 15px;
height: 15px;
background-image: url(https://tketlink.dn.toastoven.net/markup_resources/2024042401_M/renewal/pcweb/img/old-svg.svg);
background-size: 660px 629px;
background-position: -422px -384px;
content: " ";
position: absolute;
right: 0;
display: inline-block;
}
.has_sub .on a {
    color: red;
    display: block;
}
.help_recont {
    position: relative;
    width: 862px;
    padding: 38px 59px 100px 60px;
    float: left;
    box-sizing: border-box;
}
.h4 {
    display: block;
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
}
.checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.grey_box {
    width: auto;
    background-color: #f5f6f9;
    line-height: 80px;
    margin-top: 20px;
    border: none;
}
.grey_box p {
    font-size: 16px;
    text-align: center;
}
.mtmwrite_tbl {
    margin-top: 30px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #cfd0d7;
    border-bottom-color: #ecedf2;
}
.mtmwrite_tbl th, .mtmwrite_tbl td {
    padding: 30px 0 28px 20px;
    line-height: 21px;
    font-size: 14px;
}
.mtmwrite_tbl th {
    text-align: left;
    letter-spacing: -1px;
    font-size: 14px;
}
.btn_blank {
    padding: 4px 11px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
    background: #fff;
    color: #242428;
    font-weight: 400px;
    font-size: 13px;
    line-height: 18px;
}
.list_btn {
    margin-top: 64px;
    text-align: center;
}
.btn_full {
    letter-spacing: -2px;
    width: 100px;
    padding: 9px 11px;
    line-height: 22px;
    font-weight: 500;
    border: 1px solid #242428;
    border-radius: 6px;
    color: #fff;
    background: #242428;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
}
.footer {
    border-top: 1px solid #242428;
}
.footer_menu {
    border-bottom: 1px solid #ecedf2;
}
.footer_menu_list {
    margin: 0 auto;
    width: 1120px;
    font-size: 0;
}
.footer_menu_item {
    display: inline-block;
    position: relative;
    padding: 16px 20px;
}
.footer_menu_item::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 12px;
    background: #cfd0d7;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: " ";
}
.footer_menu_item:first-child {
    padding-left: 0;
}
.footer_menu_link {
    display: block;
    font-size: 13px;
    line-height: 18px;
    color: #242428
}
.footer_inner {
    position: relative;
    margin: 0 auto;
    width: 1120px;
    padding: 26px 0 85px;
    font-size: 12px;
    line-height: 16px;
    color: #62676c;
}
.footer_address {
    margin-top: 10px;
}
.footer_address_item {
    display: inline-block;
    position: relative;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 16px;
}
.footer_address_item::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 10px;
    background: #878d95;
    -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
}
.note {
    margin-top: 25px;
    padding: 25px 22px 20px;
    background-color: #f8f9fa;
    line-height: 20px;
}
.note h6 {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #62676c;
    padding-left: 23px;
    margin: 0;
}
.note h6 span {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(https://tketlink.dn.toastoven.net/markup_resources/2024042401_M/renewal/pcweb/img/old-svg.svg);
    background-size: 660px 629px;
    background-position: -640px -4px;
    background-repeat: no-repeat;
    left: 0;
    top: 5px;
}
tbody p {
    font-size: 12px; 
    color: #62676c;
    letter-spacing: -1.5px;
}
.mtmwrite_tbl tr:nth-child(1) th, .mtmwrite_tbl tr:nth-child(1) td
, .mtmwrite_tbl tr:nth-child(2) th, .mtmwrite_tbl tr:nth-child(2) td
, .mtmwrite_tbl tr:nth-child(3) th, .mtmwrite_tbl tr:nth-child(3) td {
    border-bottom: 1.5px dotted #cfd0d7;
}
.mtmwrite_tbl table {
    width: 100%;
}
.mypage_tab li.on {
    background: #242428;
    border-color: #242428;
}
.mypage_tab li.on a {
    color: #fff;
}

