@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #f5f6f8;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
}

fieldset {
  border: 0;
}

button, input {
  overflow: visible;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

button, ul {
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.border {
  border: 1px solid pink;
}
#wrap {
  max-width: 1034px;
  margin: 0 auto;
}
/* content */
#content{
  height: 79.12px;
  margin-top: 50px;
  background-color: #fff;
  border-bottom: 1px solid #a8a8a8;
}

#content_tab {
  width: 1034px;
  height: 78.17px;
  margin: 0 auto;
  padding: 22px 0;
}

#content_tab_left {
  width: 276.67px;
  height: 56.17px;
  float: left;
  display: flex;
}
#tab_myband {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 17px;
}
/* 내 밴드 버튼*/
.myband_text {
  font-size: 26px;
  font-weight: 600;
  color: #a8a8a8;
  position: relative;
  display: inline-block;
  padding-bottom: 17px;
}
.myband_text:hover, .myband_text:focus, .meet_text:hover, .meet_text:focus {
  color: #000;
}
/* 소모임 버튼 */
.meet_text {
  font-size: 26px;
  font-weight: 600;
  color: #a8a8a8;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 17px;
}


#content_tab_right {
  width: 190px;
  height: 40px;
  float: right;
  display: flex;
}

#content_tab_right > img {
  width: 20px;
  height: 20px;
}
/* 동네밴드 버튼 */
#tab_place_band {
  display: flex;
  align-items: center;
  width: 93.63px;
  height: 32px;
}

.place_band_text {
  font-size: 13px;
  font-weight: 400;
  color: var(--tier2TextMainLv02);
  line-height: 20px;
  text-align: left;
  margin-left: 5px;
}
/* 목록편집 버튼 */
#tab_list_edit {
  width: 93.63px;
  height: 32px;
  display: flex;
  align-items: center;
}

.list_edit_text {
  font-size: 13px;
  font-weight: 400;
  color: var(--tier2TextMainLv02);
  line-height: 20px;
  text-align: left;
  margin-left: 5px;
}

#main_top {
  width: 974px;
  height: 56px;
  padding: 14px 30px;
  margin-top: 38px;
  margin: 0 auto;
  text-align: center;
}

.locationimg > img {
  width: 15px;
  height: 18px;
  display: inline-block;
}

#main {
  width: 1034px;
  position: relative;
  padding: 20px 0;
  padding-bottom: 35px !important;
  margin: 0 auto;
  display: flex;
}
#band_card_list {
  height: 210px;
  margin-bottom: 25px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 26px 25px;
}
ol, ul {
  list-style: none;
}

#band_card_item {
  transition: all .1s ease-in-out;
}

#band_inner {
  height: 210px;
  width: 186px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .03);
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 14px;
  margin-bottom: 25px !important;
}

#cover {
  width: 186px;
  height: 135px;
  padding-top: 55px;
  text-align: center;
}

#cover > img {
  width: 60px;
  height: 60px;
}

#band_name {
  width: 186px;
  height: 85px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  width: 186px;
  vertical-align: top;
  padding: 11px 12px 14px;
}

.url_text {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.band_cover_link .url_text {
  font-weight: normal;
}

.cover_img {
  background-repeat: no-repeat;
  background-size: 186px 135px;
}
#cover_band_img {
  border-radius: 2px 2px 0 0;
  position: relative;
  text-align: center;
  justify-content: flex-start;
}
#band_name > p {
  font-size: 14px;
}
#main2 {
  position: relative;
  width: 1034px;
  margin: 0 auto;
}
.member {
  float: left;
  color: #a8a8a8;
}

#local_meet_band {
  position: relative;
}
#local_title {
  font-size: 26px;
  font-weight: 700;
  color: #222;
  text-align: center;
}

.setting_local {
  width: auto;
  height: auto;
  color: #0dcb67;
}
.open_keyword_btn {
  width: 29px;
  height: 29px;
  background-size: 29px 29px;
  display: inline-block;
  background-repeat: no-repeat;
  text-indent: -999px;
  background-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20240528100621/images/spr_svg.svg#arrow-down-d-btn);
  top:-2px;
  position: relative;
  margin-left: 6px;
  vertical-align: middle;
  overflow: hidden;
  color: transparent;
}

.recruit_btn {
  font-size: 16px;
  font-weight: 500;
  color: #222;
  position: absolute;
  top: 5px;
  right: 0;
  height: 28px;
  line-height: 18px;
}

.recruit_btn::before {
  width: 18px;
    height: 19px;
    -webkit-mask-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20240528100621/images/spr_svg.svg#ico-plue-circle);
    mask-image: url(https://ssl.pstatic.net/cmstatic/webclient/dres/20240528100621/images/spr_svg.svg#ico-plue-circle);
    -webkit-mask-size: 18px 19px;
    mask-size: 18px 19px;
    background-color: #222;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    -webkit-mask-size: 18px 18px;
    mask-size: 18px 18px;
    content: '';
}

.title_main_home {
  font-size: 20px;
  font-weight: 600;
  color:#222;
  position: relative;
  line-height: normal;
  margin-top: 30px !important;
}
