*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
header{
  width: 1000px;
  height: 55px;
} 

main{
  display: flex;
  width: 1000px;
  height: 800px;
  border: 3px solid #F5F5F5;
}
.paystepup2{
  height: 44px;
}
.main_1{
  width: 721px;
  height: 800px;
  background-color: #F8F9FA;
  border: 1px solid #ECEDF2;
}
.main_2{
  height: 100%;
  width: 279px;
}
.border_red{
  border: 2px solid #FA2828;
  width: 680px;
  height: 52px;
  margin-left: 21px;
  margin-top: 19px;
  background-color: #FFFFFF;
}
.redcol{
  color: #FA2828;
  font-weight: 900;
}
.warning{
  padding-top: 13px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
.selectticketguide{
  font-weight: bold;
  width: 680px;
  height: 30px;
  margin-top: 20px;
  margin-left: 21px;
  font-size: 16px;
}
.selectticket{
  width: 680px;
  margin-left: 21px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}
.selectqty{
  width: 680px;
  text-align: center;
  margin-left: 21px;
  display: flex;
  height: 50px;
  padding-top: 5px;
  font-size: 40px;
}
.selectqty > div:nth-child(1){
  width: 154px;
  border: 1px solid #ECEDF2;
  padding-top: 5px;
  font-size: 18px;
}
.selectqty > div:nth-child(2){
  display: flex;
  justify-content: space-between;
  width: 451px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #ECEDF2;
  padding-top: 5px;
  
}
.selectqty > div:nth-child(3){
  width: 75px;
  padding-top: 1px;
}
#qty{
  width: 100%;
  height: 45px;
  border: 1px solid #ECEDF2;
  background-color: #FFFFFF;
  font-size: 18px;
  padding-left: 4px;
}
.titleimgbox{
  width: 242px;
  height: 51px;
  display: flex;
  margin-left: 9px;
  margin-top: 19px;
}
.titleimgbox > div:nth-child(2){
  font-weight: bold;
  margin-left: 15px;
  padding-top: 3px;
  font-size: 16px;
}
.reservationinfo{
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
  margin-left: 9px;
}
.reservationinfoborder{
  width: 270px;
  height: 72px;
  border: 1px solid #ECEDF2;
  margin-left: 9px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}
.reservationinfoborder > div:nth-child(1){
  font-weight: 600;
}
.reservationinfoborder > div:nth-child(2){
  font-weight: bold;
  color: red;
}
.resertable{
  margin-left: 9px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  
}
.resertable > div:nth-child(1){
  font-weight: 800;
  font-size: 15px;
}
.resertable > div:nth-child(2){
  font-size: 15px;
}
.divhrgrey{
  margin-left: 9px;
  margin-top: 4px;
  width: 270px;
  border: 2px solid #ECEDF2;
  
}
.divhrblack{
  margin-left: 9px;
  margin-top: 4px;
  width: 270px;
  border: 1px solid #242428;
}
.prenextbutton{
  position: absolute;
  left: 774px;
  top: 700px;
  width: 207px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}
.prenextbtn{
  width: 100px;
  height: 56px;
  background-color: #FFF;
  border-radius: 5px;
  border: 2px solid #DCDDE1;
  cursor: pointer;
}
.prenextbtn:hover {
  background-color: #DEDEDE;
}
#totalAmount{
  color: red;
  font-size: 15px;
  }
  .canceltitle{
  color: #878FB4;
  }
.cancel{
  font-weight: 500;
  margin-left: 9px;
  margin-top: 8px;
}
