*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* div{
  border: 1px solid red;
} */
.playtitle{
  font-size: 24px;
  font-weight: bolder;
}
.line{
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #756775;
}
.playhallname{
  color: #756775;
}
.playstartdatetime{
  color: #92676C;

}
header{
  width: 1000px;
  height: 55px;
}
#paystepup1{
  height: 44px;
}
#main{
  width: 1000px;
  height: 800px;
  display: flex;
  border: 3px solid #F5F5F5;
}
#main > div:nth-child(1){
  width: 720px;
}
#main > div:nth-child(2){
  width: 28
}
#main > div:nth-child(1) > div:nth-child(1){
  height: 84px;
  padding-top: 15px;
  padding-left: 10px;
}
#main > div:nth-child(1) > div:nth-child(1) > div:nth-child(6){
  position: relative;
  left: 610px;
  top: -40px;
}
#playhallseat {
  width: 680px;
  height: 560px;
  /* overflow: hidden; */
  position: relative;
}
/* #playhallseat img{
  position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
  max-height: none;
  object-fit: none; */
/* } */
.reserved{ /*예약된좌석*/
  position: absolute;
  cursor: pointer;
}
.episodeBtn {
  width: 76px;
  height: 34px;
  border-radius: 3px;
  background-color: #FFF;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #DCDDE1;
  cursor: pointer;
}
.episodeBtn:hover {
  background-color: #DEDEDE;
}
.episodeBtn:hover {
  background-color: #DEDEDE;
}


.playhallseatimgsmall{
  width: 210px;
  height: 174px;
  margin-top: 18px;
  margin-left: 55px;
}
.kingframe{
  margin-left: 55px;
  width: 225px;
  height: 604px;
}
.frame{
  width: 225px;
  height: 35px;
  margin-top: 28px;
  display: flex;
}
.frame_1{
  font-weight: bold;
  font-size: 15px;
  vertical-align: middle;
  padding-top: 5px;
}
.frame_2{
  margin-top: 5px;
}
.f5{
  width: 71px;
  height: 28px;
  background-color: #FFF;
  border: 1px solid #DCDDE1;
  margin-top: -2px;
  margin-left: 78.5px;
  cursor: pointer;
}
.f5:hover {
  background-color: #DEDEDE;
}
.box1{
  border: 1px solid #ECEDF2;
  width: 209px;
  height: 278px;
  margin-top: 20px;
}
.box_block1{
  padding-top: 5px;
  padding-left: 30px;
  font-weight: 600;
  height: 40px;
}
.box_block2{
  height: 32px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box_block3{
  height: 32px;
  padding-top: 5px;
  padding-left: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.colorbox{
  display: inline-block;
  width: 13px;
  height: 13px;
}
.seatgrade{
  padding-left: 4px;
}
.seatstatus{
  padding-left: 20px;
  color: #A8B8D4;
  text-align: right;
  
}
.ranking_notice_title {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #242428;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 24px;
}
.common_icon.ty_xs {
  width: 16px;
  height: 16px;
}
.icon_info {
  margin-right: 6px;
}
.whktjrtjswja{
  margin-left: 50px;
}
.prenextbutton{
  position: absolute;
  left: 774px;
  top: 700px;
  width: 207px;
  height: 56px;
  display: flex;
  justify-content: space-between;
}
.prenextbtn{
  width: 100px;
  height: 56px;
  background-color: #FFF;
  border-radius: 5px;
  border: 2px solid #DCDDE1;
  cursor: pointer;
}
.prenextbtn:hover {
  background-color: #DEDEDE;
}
.btn{
  width: 78px;
}
