body {
    margin: 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}
p {
    margin: 0;
}
input::placeholder {
    letter-spacing: normal !important;
}
.input_area .col {
    display: table-cell;
}
.header {
    height: 88px;
    line-height: 68px;
    border-bottom: 1px solid rgba(0,0,0,.08);
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
.header_inner {
    max-width: 1280px;
    margin: 0 auto;
}
.blind {
    position: absolute;
    clip: rect(0,0,0,0);
}
.header_logo {
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 24px;
    width: 151px;
    height: 38px;
    background: url(https://th.bing.com/th/id/OIP.GcpUB3UxsaArPwX00cYZmQHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7) center no-repeat;
    
}
.header_title {
    padding: 0 190px;
    line-height: 88px;
    font-size: 14px;
    font-weight: bold;
}
.content_wrapper {
    padding: 75px 0 40px 0;
    width: 500px;
    min-height: 800px;
    box-sizing: border-box;
    margin: 0 auto;
}
.uBlock {
    min-height: 76px;
}
.uBlock.check_block {
    min-height: 0;
    margin-top: 15px;
}
.input_area {
    display: table;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.input_area.email {
    position: relative;
    background: url(//openimage.interpark.com/member/common/icon/icon_arrow_down.png) 100% 50% no-repeat;
    background-size: 22px auto;
}
.error_text {
    font-size: 12px;
    line-height: 20px;
    color: #dc941b;
    margin-top: 5px;
    padding: 0 5px;
}
.input_area .col:first-child {
    padding-left: 5px;
    width: 100%;
}
.input_area .col:last-child {
    padding-right: 5px;
}
.input_box {
    position: relative;
    overflow: hidden;
}
.email .input_box {
    padding-right: 60px;
}
.input_box.birth input:first-child {
    width: 29%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 10px;
    letter-spacing: 8px;
    padding: 0 7px;
}
.input_box.birth .input_text.gender {
    width: 7%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 1px;
    padding: 0;
    text-align: center;
}
.input label {
    font-size: 14px;
    line-height: 30px;
    color: #000;
    float: left;
    font-weight: bold;
    letter-spacing: -1px;
}
.input_text, .input_text.agree {
    font-size: 14px;
    line-height: 30px;
    color: #000;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 25px 0 10px;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}
.select_col {
    position: absolute;
    top: 50%;
    right: 0;
    padding: 0;
    opacity: 0;
    margin-top: -15px;
}
.btn.border_type {
    min-width: 70px;
    padding: 0 10px 1px 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: white;
    display: inline-block;
    width: auto;
    font-size: 13px;
    height: 30px;
    display: table-cell;
    cursor: pointer;
    white-space: nowrap;
    pointer-events: none;
    background-color: #ccc;
    transition: 1s;
    opacity: 0.4;
}
.btn.address  {
    min-width: 70px;
    padding: 0 10px 1px 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    display: inline-block;
    width: auto;
    font-size: 13px;
    height: 30px;
    display: table-cell;
    cursor: pointer;
    white-space: nowrap;
    background-color: white;
    color: #000;
}
.checkbox input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.uBlock.check_block {
    height: 58px;
}
.uBlock.check_block .checkbox:last-child {
    margin-top: 10px;
}
.uBlock.check_block .checkbox:first-child {
    margin-top: 0;
}
.checkbox .text {
    font-size: 13px;
    line-height: 20px;
    color: #000;
    display: inline-block;
    position: relative;
    height: 100%;
    padding-top: 4px;
    padding-left: 33px;
    cursor: pointer;
}
.checkbox .text::after {
    background: url(//openimage.interpark.com/member/common/icon/icon_check_new.png) 0 0 no-repeat;
    background-size: 100% auto;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    background-position: 0 0;
    background-size: 100% auto;
    border-radius: 50%;
}
.checkbox input[type="checkbox"]:checked + .text::after {
    border-color: #1769ff;
    background-color: #1769ff;
    background-position: 0 100%;
}
.block_text {
    padding: 20px 0;
    font-size: 13px;
    line-height: 22px;
}
.btn.point {
    background: #ccc;
    color: #fff;
    font-weight: bold;
    border: 0;
    width: 100%;
    height: 50px;
    padding-bottom: 1px;
    cursor: pointer;
    border-radius: 1.2rem;
}
/* 인증번호받기 클릭시 나오는 박스들*/
.account_vali {
    margin-top: 25px;
    padding: 0 0 25px 5px;
}
.account_guide {
    font-size: 13px;
    line-height: 20px;
    color: #ed941b;
    font-weight: bold;
}
.block_text {
    font-size: 13px;
    line-height: 20px;
    color: #000;
    padding: 10px 0;
}
.btn.btnArrow {
    font-size: 13px;
    line-height: 20px;
    color: #ef1919;
    display: inline-block;
    position: relative;
    padding-right: 8px;
    border-bottom: 1px solid #000;
    text-decoration: none;
}
.btn.btnArrow::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 5px;
    height: 8px;
    margin-top: -4px;
    background: url("https://openimage.interpark.com/member/common/icon/icon_btn_arrow.png") 0 0 no-repeat;
    background-size: 100% auto;
    content: "";
}
.pInput_area {
    display: table;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
.pInput_area .col {
    display: table-cell;
    /* vertical-align: top; */
}
.pInput_area .col:first-child {
    width: 100%;
    padding-left: 5px;
}
.pInput::after {
    content: "";
    display: block;
    clear: both;
}
.pInput label {
    font-size: 15px;
    line-height: 30px;
    color: #000;
    float: left;
    font-weight: bold;
}
.pInput .pInput_box {
    overflow: hidden;
    position: relative;
}
.input_box .input_text, .input_text_certify {
    font-size: 15px;
    line-height: 30px;
    color: #000;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 25px 0 10px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: none;
}
.pBtn_area {
    font-size: 0;
    white-space: nowrap;
}
.pBtn {
    min-width: 70px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    color: #000;
    display: inline-block;
    width: auto;
    font-size: 13px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
}
.pbtn:first-child {
    margin-left: 0;
}
.certify_time {
    font-size: 13px;
    line-height: 20px;
    color: #dc941b;
    margin-top: 5px;
    padding: 0 5px;
    font-weight: bold;
}
.uError_text {
    font-size: 12px;
    line-height: 20px;
    color: #dc941b;
    margin-top: 5px;
    padding: 0 5px;
}
.label {
    font-size: 14px;
    line-height: 30px;
    color: #000;
    float: left;
    font-weight: bold;
    letter-spacing: -1px;
}
.agreeBlock .input_area {
    border: 0;
}








/* 자바스크립트 연동 효과*/
.btn.border_type.notdisabled {
    pointer-events: all;
    background-color: white;
    color: #000;
    opacity: 1;
}
.btn.point:disabled.special {
    opacity: 0.5;
}
.btn.point.special {
    opacity: 0.5;
}
.input_box.birth .del_btn {
    right: -25px;
}
.del_btn {
    position: absolute;
    top: 3px;
    right: 2px;
    z-index: 2;
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background: url(//openimage.interpark.com/.ui/openId/pc/btn_input_del.png) no-repeat center center #fff;
    outline: 0;
    cursor: pointer;
}
.text_email + .del_btn {
    right: 25px;
}
.error_text {
    display: none;
}